###############################################################################
## Bazel Configuration Flags
##
## `.bazelrc` is a Bazel configuration file.
## https://bazel.build/docs/best-practices#bazelrc-file
###############################################################################

###############################################################################
## Build configuration
###############################################################################

# Don't create bazel-* symlinks in the project root directory.
# Instead, set a prefix and put it in .gitignore
build --symlink_prefix=target-bzl/

###############################################################################
## Test configuration
###############################################################################

# Reduce test output to just error cases and report failures verbose.
test --test_output=errors
test --verbose_failures

###############################################################################
## Rust configuration
###############################################################################

# Enable pipelined build
common --@rules_rust//rust/settings:pipelined_compilation=true

###############################################################################
## Common configuration
###############################################################################

# Write build outputs in a platform-specific directory;
# avoid outputs being wiped and rewritten when switching between platforms.
common --experimental_platform_in_output_dir

# Enable misc. performance optimizations.
# https://www.buildbuddy.io/blog/debugging-slow-bazel-builds/
# https://www.buildbuddy.io/blog/how-bazel-7-0-makes-your-builds-faster/
common --nolegacy_important_outputs
common --verbose_failures
common --noexperimental_merged_skyframe_analysis_execution
common --reuse_sandbox_directories

# Enable a more detailed performance profile
# common --noslim_profile
# common --experimental_profile_include_target_label
# common --experimental_profile_include_primary_output

###############################################################################
## Cross compilation configuration
###############################################################################

# Debug toolchain resolution
# build --toolchain_resolution_debug='@bazel_tools//tools/cpp:toolchain_type

# Required to support cross compilation from different host systems i.e Mac and Linux
# https://bazel.build/reference/command-line-reference#flag--enable_platform_specific_config
common --enable_platform_specific_config

# Build targets for different hosts
build:macos --extra_execution_platforms=//build/platforms:darwin-aarch64
build:linux --extra_execution_platforms=//build/platforms:linux-x86_64

###############################################################################
## Remote configuration
###############################################################################

# N/A. Add later to configure RBE.

###############################################################################
## Custom user flags
##
## This should always be the last thing in the `.bazelrc` file to ensure
## consistent behavior when setting flags in that file as `.bazelrc` files are
## evaluated top to bottom.
###############################################################################
try-import %workspace%/user.bazelrc