[package]
name = "deep_causality"
version = "0.2.8"
edition = "2021"
rust-version = "1.65"
readme = "../README.md"
license = "MIT"

description = "Computational causality library. Provides causality graph, collections, context and causal reasoning."
documentation = "https://docs.rs/deep_causality"
homepage = "https://deepcausality.com/about/"
repository = "https://github.com/deepcausality/deep_causality.rs"
keywords = ["cauality", "causal-graph", "causal-reasoning", "graph"]
categories = ["data-structures", "science", "aerospace", "finance", "mathematics"]
authors = ["Marvin Hansen <marvin.hansen@gmail.com>", ]


[dependencies]
# default-features = false mitigates "RUSTSEC-2020-0071".
# See https://rustsec.org/advisories/RUSTSEC-2020-0071.html
chrono = { version = "0.4", default-features = false , features = ["serde", "clock"] }
petgraph = "0.6.3"
rust_decimal = "1.30.0"
serde = { version = "1.0.175", features = ["derive"] }


[dependencies.dcl_data_structures]
path = "../dcl_data_structures"
version = "^0.4.4"


[dependencies.deep_causality_macros]
path = "../deep_causality_macros"
version = "^0.4.4"


[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }


[[bench]]
name = "bench_main"
harness = false
