[package]
name = "deep_causality_topology"
version = "0.1.0"
edition = "2021"
authors = ["The DeepCausality Authors and Contributors"]
description = "Topological data structures for the DeepCausality project"
license = "MIT"
repository = "https://github.com/deepcausality-rs/deep_causality"
documentation = "https://docs.rs/deep_causality_topology"
readme = "README.md"
keywords = ["causality", "topology", "complex", "differential", "geometry"]
categories = ["science", "mathematics"]

[lib]
name = "deep_causality_topology"
path = "src/lib.rs"


[dependencies.deep_causality_num]
path = "../deep_causality_num"
version = "0.1.9"
default-features = false

[dependencies.deep_causality_sparse]
path = "../deep_causality_sparse"
version = "0.1.0"
default-features = false

[dependencies.deep_causality_haft]
path = "../deep_causality_haft"
version = "0.2.4"

[dependencies.deep_causality_tensor]
path = "../deep_causality_tensor"
version = "0.1.9"

[dependencies.deep_causality_multivector]
path = "../deep_causality_multivector"
version = "0.1.3"


[[example]]
name = "basic_graph"
path = "examples/basic_graph.rs"

[[example]]
name = "manifold_analysis"
path = "examples/manifold_analysis.rs"

[[example]]
name = "point_cloud_triangulation"
path = "examples/point_cloud_triangulation.rs"

[[example]]
name = "hkt_graph_convolution"
path = "examples/hkt_graph_convolution.rs"

[[example]]
name = "chain_algebra"
path = "examples/chain_algebra.rs"

[[example]]
name = "differential_field"
path = "examples/differential_field.rs"

