[package]
name = "deep_causality_topology"
version = "0.4.0"
edition = "2021"
authors = ["The DeepCausality Authors and Contributors"]
description = "Topological data structures for the DeepCausality project"
license = "MIT"
repository = "https://github.com/deepcausality-rs/deep_causality"
documentation = "https://docs.rs/deep_causality_topology"
readme = "README.md"
keywords = ["causality", "topology", "complex", "differential", "geometry"]
categories = ["science", "mathematics"]

[lib]
name = "deep_causality_topology"
path = "src/lib.rs"

[features]
# Enables random number generator from the host OS for secure random numbers.
# Enabling os-random adds an indirect depdency on getrandom and libc.
# Disabled by default to use native Rust prng instead.
os-random = ["deep_causality_rand/os-random"]

[dependencies.deep_causality_num]
path = "../deep_causality_num"
version = "0.2"
default-features = false

[dependencies.deep_causality_rand]
path = "../deep_causality_rand"
version = "0.1"

[dependencies.deep_causality_sparse]
path = "../deep_causality_sparse"
version = "0.1"
default-features = false

[dependencies.deep_causality_haft]
path = "../deep_causality_haft"
version = "0.3"

[dependencies.deep_causality_tensor]
path = "../deep_causality_tensor"
version = "0.4"

[dependencies.deep_causality_metric]
path = "../deep_causality_metric"
version = "0.2"

[dependencies.deep_causality_multivector]
path = "../deep_causality_multivector"
version = "0.4"

[[example]]
name = "basic_graph"
path = "examples/basic_graph.rs"

[[example]]
name = "chain_algebra"
path = "examples/chain_algebra.rs"

[[example]]
name = "complex_operators"
path = "examples/complex_operators.rs"

[[example]]
name = "differential_field"
path = "examples/differential_field.rs"

[[example]]
name = "hkt_graph_convolution"
path = "examples/hkt_graph_convolution.rs"

[[example]]
name = "lattice_gauge_simulation"
path = "examples/lattice_gauge_simulation.rs"

[[example]]
name = "manifold_analysis"
path = "examples/manifold_analysis.rs"
